In [60]:
import pandas as pd
import numpy as np
import twint
import nest_asyncio
nest_asyncio.apply()
from nltk.corpus import stopwords
from nltk import word_tokenize
from  nltk import FreqDist
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem import PorterStemmer
import string

In [2]:
c = twint.Config()

In [3]:
c.Username = "realDonaldTrump"

In [65]:
c.Limit = 1
c.Pandas = True
c.Store_csv = True
c.Output = 'tweets.csv'
c.Verified = True
c.Format = "Username: {username} |  Tweet: {tweet}"

In [68]:
twint.run.Search(c)

Username: realDonaldTrump |  Tweet: As I predicted, Jay Powell and the Federal Reserve have allowed the Dollar to get so strong, especially relative to ALL other currencies, that our manufacturers are being negatively affected. Fed Rate too high. They are their own worst enemies, they don’t have a clue. Pathetic!
Username: realDonaldTrump |  Tweet: ....the Whistleblower, and also the person who gave all of the false information to him. This is simply about a phone conversation that could not have been nicer, warmer, or better. No pressure at all (as confirmed by  Ukrainian Pres.). It is just another Democrat Hoax!
Username: realDonaldTrump |  Tweet: So if the so-called “Whistleblower” has all second hand information, and almost everything he has said about my “perfect” call with the Ukrainian President is wrong (much to the embarrassment of Pelosi & Schiff), why aren’t we entitled to interview & learn everything about....
Username: realDonaldTrump |  Tweet: “The congratulatory phone call with the Ukrainian President was PERFECT, unless you heard Liddle’ Adam Schiff’s fraudulently made up version of the call. This is just another Fake News Media, together with their partner, the Democrat Party, HOAX!
Username: realDonaldTrump |  Tweet:  pic.twitter.com/dOta1Z9gtZ
Username: realDonaldTrump |  Tweet: Congratulations to President Xi and the Chinese people on the 70th Anniversary of the People’s Republic of China!
Username: realDonaldTrump |  Tweet: Great job, just in time! https://twitter.com/fox32news/status/1178827504301363205 …
Username: realDonaldTrump |  Tweet: You cannot judge my Stock Market performance since the Inauguration, which was very good, but only from the day after the big Election Win, which was spectacular due to the euphoria of getting Obama/Biden OUT, & getting Trump/Pence IN. WentI up BIG between Nov. 9 & Inauguration!
Username: realDonaldTrump |  Tweet: The Corrupt Media refuses to cover this! https://twitter.com/realdonaldtrump/status/1177669563477118976 …
Username: realDonaldTrump |  Tweet: Today, I was proud to sign the Autism CARES Bill! We support research for Americans with Autism and their families. You are not forgotten, we are fighting for you! pic.twitter.com/syyaLR0sNq
Username: realDonaldTrump |  Tweet:  pic.twitter.com/DJLYoma7KB
Username: realDonaldTrump |  Tweet: THANK YOU! pic.twitter.com/zqbTTlbGmp
Username: realDonaldTrump |  Tweet: “He misled (Rep. Adam Schiff) MILLIONS of people for the sake of making the case for impeachment. Completely fabricated account out of thin air!” @MillerStream @BlazeTV pic.twitter.com/ottBHQVffY
Username: realDonaldTrump |  Tweet:  pic.twitter.com/QqEbiqEKkx
Username: realDonaldTrump |  Tweet: My great friend, @RepMarkMeadows, has been an EXCELLENT Chairman of the House @FreedomCaucus, which has been a tremendous success. I am looking forward to close collaboration with his successor (starting Tuesday) and Strong Leader, @RepAndyBiggsAZ!
Username: realDonaldTrump |  Tweet: BIG NEWS by @Hyundai, @Kia, and @Aptiv on a 4 BILLION DOLLAR joint venture to develop autonomous driving technologies in the USA. That’s a lot of $$ and JOBS! Great jobs coming back to America!!
Username: realDonaldTrump |  Tweet: Great news! @Apple announced that it is building its new Mac Pro in Texas. This means hundreds of American jobs in Austin and for suppliers across the Country. Congratulations to the Apple team and their workers! https://www.foxbusiness.com/technology/apple-manufacturing-mac-pro-austin-texas-tariff-exemption …
Username: realDonaldTrump |  Tweet: Navistar will be building a new 250 MILLION DOLLAR truck factory in San Antonio with 600 new jobs. Congratulations San Antonio and Texas! America makes the GREATEST trucks in the world! https://www.ttnews.com/articles/navistar-build-truck-plant-texas …
Username: realDonaldTrump |  Tweet: It was my Great Honor to attend this mornings Welcome Ceremony for the 20th Chairman of the Joint Chiefs of Staff, General Mark Milley! https://www.pscp.tv/w/cGInjjFvTlFsTFJub1dwUXd8MW1yeG1yaldya0RLeRYnTwf76Ww-U2rvToHPCwV-0eVWKsWnfNDtCYU2FcyF?t=43s …
Username: realDonaldTrump |  Tweet: The Fake News Media wants to stay as far away as possible from the Ukraine and China deals made by the Bidens. A Corrupt Media is so bad for our Country! In actuality, the Media may be even more Corrupt than the Bidens, which is hard to do!

In [66]:
def available_columns():
    return twint.output.panda.Tweets_df.columns

In [67]:
def twint_to_pandas(columns):
    return twint.output.panda.Tweets_df[columns]

In [69]:
available_columns()

Index(['cashtags', 'conversation_id', 'created_at', 'date', 'day', 'geo',
       'hashtags', 'hour', 'id', 'link', 'name', 'near', 'nlikes', 'nreplies',
       'nretweets', 'place', 'quote_url', 'reply_to', 'retweet',
       'retweet_date', 'retweet_id', 'search', 'source', 'timezone', 'tweet',
       'user_id', 'user_id_str', 'user_rt', 'user_rt_id', 'username'],
      dtype='object')

In [19]:
twint.output.panda.save

In [70]:
df_pd = twint_to_pandas(["date", "username", "tweet", "hashtags", "nlikes"])

In [71]:
df_pd.head()

,date,username,tweet,hashtags,nlikes
0,2019-10-01 10:34:45,realDonaldTrump,"As I predicted, Jay Powell and the Federal Res...",[],12139
1,2019-10-01 09:19:24,realDonaldTrump,"....the Whistleblower, and also the person who...",[],29147
2,2019-10-01 09:19:23,realDonaldTrump,So if the so-called “Whistleblower” has all se...,[],32362
3,2019-10-01 07:09:57,realDonaldTrump,“The congratulatory phone call with the Ukrain...,[],44331
4,2019-10-01 07:05:17,realDonaldTrump,pic.twitter.com/dOta1Z9gtZ,[],78781

In [22]:
df = pd.read_csv('tweets.csv')

In [26]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1178780049610280960,1178780049610280960,1569878039000,2019-09-30,17:13:59,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
1,1178767417075552257,1178767417075552257,1569875027000,2019-09-30,16:23:47,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
2,1178757901659365376,1178757901659365376,1569872758000,2019-09-30,15:45:58,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
3,1178748369709256704,1178748369709256704,1569870486000,2019-09-30,15:08:06,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
4,1178747450120708097,1178747450120708097,1569870266000,2019-09-30,15:04:26,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN

In [25]:
df['tweet']

0     “He misled (Rep. Adam Schiff) MILLIONS of peop...
1                            pic.twitter.com/QqEbiqEKkx
2     My great friend, @RepMarkMeadows, has been an ...
3     BIG NEWS by @Hyundai, @Kia, and @Aptiv on a 4 ...
4     Great news! @Apple announced that it is buildi...
5     Navistar will be building a new 250 MILLION DO...
6     It was my Great Honor to attend this mornings ...
7     The Fake News Media wants to stay as far away ...
8     Very simple! I was looking for Corruption and ...
9     ....they made this whole thing up. Impeachment...
10    “President Trump’s Job Approval Numbers have j...
11                                   #FakeWhistleblower
12    WHO CHANGED THE LONG STANDING WHISTLEBLOWER RU...
13    Again, the President of Ukraine said there was...
14    ....place in TRADE, it’s taking shape in Milit...
15    “After many years, the United States is finall...
16    Rep. Adam Schiff illegally made up a FAKE & te...
17    The Fake Whistleblower complaint is not holdin...
18    “China Trade Turmoil: China Urging a CALM AND ...
19    The Greatest Witch Hunt in the history of our ...
Name: tweet, dtype: object

In [27]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1178780049610280960,1178780049610280960,1569878039000,2019-09-30,17:13:59,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
1,1178767417075552257,1178767417075552257,1569875027000,2019-09-30,16:23:47,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
2,1178757901659365376,1178757901659365376,1569872758000,2019-09-30,15:45:58,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
3,1178748369709256704,1178748369709256704,1569870486000,2019-09-30,15:08:06,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN
4,1178747450120708097,1178747450120708097,1569870266000,2019-09-30,15:04:26,EDT,25073877,realdonaldtrump,Donald J. Trump,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '25073877', 'username': 'realDona...",NaN

In [35]:
df.iloc[0].tweet

'“He misled (Rep. Adam Schiff) MILLIONS of people for the sake of making the case for impeachment. Completely fabricated account out of thin air!” @MillerStream @BlazeTV pic.twitter.com/ottBHQVffY'

In [38]:
text = df.iloc[0].tweet

In [40]:
stopwords_list = stopwords.words('english')
stopwords_list += list(string.punctuation)

In [72]:
stopwords_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 '!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [41]:
tokens = word_tokenize(text)

In [42]:
tokens

['“',
 'He',
 'misled',
 '(',
 'Rep.',
 'Adam',
 'Schiff',
 ')',
 'MILLIONS',
 'of',
 'people',
 'for',
 'the',
 'sake',
 'of',
 'making',
 'the',
 'case',
 'for',
 'impeachment',
 '.',
 'Completely',
 'fabricated',
 'account',
 'out',
 'of',
 'thin',
 'air',
 '!',
 '”',
 '@',
 'MillerStream',
 '@',
 'BlazeTV',
 'pic.twitter.com/ottBHQVffY']

In [45]:
stopped_tokens = [tok.lower() for tok in tokens if tok not in stopwords_list]

In [46]:
stopped_tokens

['“',
 'he',
 'misled',
 'rep.',
 'adam',
 'schiff',
 'millions',
 'people',
 'sake',
 'making',
 'case',
 'impeachment',
 'completely',
 'fabricated',
 'account',
 'thin',
 'air',
 '”',
 'millerstream',
 'blazetv',
 'pic.twitter.com/ottbhqvffy']

In [47]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [49]:
freqdist = FreqDist(tokens)

In [50]:
freqdist

FreqDist({'of': 3, 'for': 2, 'the': 2, '@': 2, '“': 1, 'He': 1, 'misled': 1, '(': 1, 'Rep.': 1, 'Adam': 1, ...})

In [51]:
freqdist.most_common()

[('of', 3),
 ('for', 2),
 ('the', 2),
 ('@', 2),
 ('“', 1),
 ('He', 1),
 ('misled', 1),
 ('(', 1),
 ('Rep.', 1),
 ('Adam', 1),
 ('Schiff', 1),
 (')', 1),
 ('MILLIONS', 1),
 ('people', 1),
 ('sake', 1),
 ('making', 1),
 ('case', 1),
 ('impeachment', 1),
 ('.', 1),
 ('Completely', 1),
 ('fabricated', 1),
 ('account', 1),
 ('out', 1),
 ('thin', 1),
 ('air', 1),
 ('!', 1),
 ('”', 1),
 ('MillerStream', 1),
 ('BlazeTV', 1),
 ('pic.twitter.com/ottBHQVffY', 1)]

In [53]:
lemmatizer = WordNetLemmatizer()

In [54]:
lemmatizer.lemmatize(text)

'“He misled (Rep. Adam Schiff) MILLIONS of people for the sake of making the case for impeachment. Completely fabricated account out of thin air!” @MillerStream @BlazeTV pic.twitter.com/ottBHQVffY'

In [59]:
lemmatizer.lemmatize('agreed')

'agreed'

In [61]:
stemmer = PorterStemmer()

In [63]:
stemmer.stem('running')

'run'